# Action > Reopistory name > Markdown filename > HTML filename
BuildIndex data-architecture-hub homepage.md index.html
BuildPage data-architecture-hub data-mgt-dq-check-list.md data-mgt-dq-check-list.html
BuildPage data-architecture-hub data-mgt-dq-handbook.md data-mgt-dq-handbook.html
BuildPage data-architecture-hub data-mgt-glossary.md data-mgt-glossary.html
BuildPage data-architecture-hub data-mgt-activity-map.md data-mgt-activity-map.html
BuildPage data-architecture-hub data-mgt-maturity-model.md data-mgt-maturity-model.html
BuildPage data-architecture-hub data-mgt-job-descriptions.md data-mgt-job-descriptions.html
BuildPage data-architecture-hub data-mgt-books.md data-mgt-books.html
BuildPage data-architecture-hub data-mgt-articles.md data-mgt-articles.html
BuildPage data-architecture-hub data-mgt-architecture.md data-mgt-architecture.html
BuildPage data-architecture-hub data-mgt-references.md data-mgt-references.html
BuildPage data-architecture-hub data-mgmt-information-capital.md data-mgmt-information-capital.html
BuildPage data-architecture-hub data-mgmt-technologies.md data-mgmt-technologies.html
#BuildPage documentation-awareness README.md documentation-awareness.html
BuildPage data-ref-metadata README.md metadata-paper.html
BuildPage data-ref-metadata metadata_paper_asset_defs.md metadata-paper-asset-defs.html
BuildPage data-ref-integration README.md integration-paper.html 
BuildPage data-ref-integration api-maturity-model.md api-maturity-model.html
BuildPage data-ref-bi-analytics README.md bi-analytics-paper.html
BuildPage data-ref-mdm README.md customer-mdm-paper.html
#BuildPage data-study-dhp README.md dhp-data-architecture.html
BuildPage data-ref-modeling README.md data-modeling-paper.html
BuildPage data-ref-modeling data-modeling-acord.md data-modeling-acord.html
BuildPage data-ref-modeling data-modeling-it4it.md data-modeling-it4it.html
BuildPage data-ref-document-content README.md document-content.html
BuildPage data-guide-privacy-preserving README.md data-privacy-preserving.html
